:root {
  --pref-tx-col: #212121
  --prm-col: #757575;
  --accent-col: #2196f3;
  --title-col: #000000;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;  
}
 
/* .list {
  list-style: none; 
}*/
.site-nav .link {
  list-style: none;
  color: #212121;
}
.contacts-link .link:hover,
.contacts-link .link:focus
{
  color: var(--accent-col);
} 
.contacts-link {
   color: #757575;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
   color: var(--accent-col);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5fa;
  color: var(--pref-tx-col)
}

.page-header .link:hover,
.page-header .link:focus {
  color: var(--accent-col);
}

/* .site-nav .link:hover, 
.site-nav .link:focus {
  color: var(--accent-col); */
}
.link.logo {
    
  color: var(--accent-col);
  text-decoration: none;
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;    
  }
  .logo > span {
    color: #000000;
  }

.section-title {
  color: var(--title-col);
}

.site-nav .link.current {
  color: var(--accent-col);
}

h1 {
  color: var(--title-col);
}

/* benefits */
.benefits .title {
  color: var(--title-col);
}
/* section Our Team */

.team-cards .title {
  color: var(--title-col);
}

/* button */

.button {
  background-color: #188CE8;
  color: #ffffff;
}
.address-link .link:hover,
.address-link .link:focus {
  color: var(--accent-col);
}

/* .employee {
  color: var(--pref-tx-col); 
}*/

/* ul {
  list-style: none;
} */
/* main text #212121 */
/* p #757575 */
/* h1 #ffffff */
/* accent blur #2196f3 
    header bgc #ffffff
    our team bgc #f5f5fa
    black footer & bgc hero 
    #2f303a
    tel&mail footer rgba
    (255,255,255,0.6);
     */
    .link {
      text-decoration: none;
    }
 .page-header {
    background-color: #ffffff;
    text-decoration: none;
}
.logo .link:hover,
.logo link:focus {
  color: var(--accent-col);
}

/* .address-link .link:hover,
.address-link .link:focus {
  color: var(--accent-col);} */

/* .header-nav header-link .current {
  color: var(--accent-text-color);
}
.site-nav-list .header-link {
  color: #212121;
  text-decoration: none;
}
.site-nav {
  text-decoration: none;
}

.mail-phone {
  text-decoration: none;
}
.address {
  text-decoration: none;
}
.hesder-link {
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
}
.list {
  text-decoration: none;
}
.link {
  list-style: none;
}
.exampl-item .list {
  text-decoration: none;
}
.exampls-list .exampl-item {
  text-decoration: none;
} */
